@media(max-width: 1200px) {
  .content {
    width: 900px;
  }
  .works {
    .flex_box {
      .txt {
        height: 150px;
      }
    }
  }
}
@media(max-width: 1100px) {
  .mainVisual {
    .txt_content {
      bottom: 100px;
    }
  }
}
@media(max-width: 992px) {
  .content {
    width: auto;
  }
  .works {
    .cardBox {
      margin-bottom: 70px;
    }
  }
}
@media(max-width: 900px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .header {
    .right {
      top: 12px;
    }
  }
  .mainVisual {
    .txt_content {
      bottom: 50px;
      left: 80px;
      .catch_en {
        margin-bottom: 20px;
        font-size: 50px;
      }
      .catch_ja {
        margin-left: 10px;
        font-size: 30px;
      }
    }
  }
}
@media(max-width: 768px) {
  .header {
    .left {
      left: 20px;
    }
    .right {
      right: 20px;
    }
  }
}
@media(max-width: 767px) {
  .transparent {
    font-size: 50px;
  }
  .concept {
    .content {
      .subTitle {
        font-size: 25px;
      }
      .flex_box {
        .left {
          order: 1;
          margin-top: 70px;
        }
      }
    }
  }
  .service {
    .content {
      max-width: 540px;
    }
    .flex_box {
      .cardBox {
        margin-bottom: 70px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
@media(min-width: 567px) {
  .br {
    display: none;
  }
}
@media(max-width: 576px) {
  .br {
    display: block;
  }
  h3 {
    font-size: 40px;
    &::after {
      width: 100px;
    }
  }
  .container {
    width: auto;
  }
  .mainVisual {
    .img_wrap {
      .slider {
        img {
          height: 600px;
          object-fit: cover;
        }
      }
    }
    .txt_content {
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      .catch_en {
        font-size: 30px;
        white-space: nowrap;
      }
      .catch_ja {
        margin-left: 0;
        font-size: 25px;
        text-align: center;
      }
    }
  }
}
